n8n-examples.json
{
  "name": "WebP Converter - Ejemplos N8N",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:8080/api.php",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n  \"url\": \"{{ $json.image_url }}\",\n  \"quality\": 85,\n  \"output_name\": \"{{ $json.name }}\"\n}"
      },
      "name": "Ejemplo 1: Convertir desde URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [450, 200]
    },
    {
      "parameters": {
        "url": "http://localhost:8080/api.php",
        "method": "POST",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "image",
              "value": "={{ $binary.data }}"
            },
            {
              "name": "quality",
              "value": "90"
            },
            {
              "name": "max_width",
              "value": "1920"
            }
          ]
        }
      },
      "name": "Ejemplo 2: Upload directo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [450, 400]
    },
    {
      "parameters": {
        "url": "http://localhost:8080/api.php",
        "method": "POST",
        "jsonParameters": true,
        "bodyParametersJson": "={\n  \"batch\": [\n    {\"filename\": \"imagen1.jpg\", \"output_name\": \"img1\"},\n    {\"filename\": \"imagen2.jpg\", \"output_name\": \"img2\"},\n    {\"filename\": \"imagen3.png\", \"output_name\": \"img3\"}\n  ],\n  \"quality\": 80\n}"
      },
      "name": "Ejemplo 3: Batch conversion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [450, 600]
    },
    {
      "parameters": {
        "url": "http://localhost:8080/api.php?action=health",
        "method": "GET"
      },
      "name": "Ejemplo 4: Health Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [450, 800]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Ejemplo 1: Convertir desde URL",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ejemplo 2: Upload directo",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ejemplo 3: Batch conversion",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ejemplo 4: Health Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "workflows": {
    "workflow_1": {
      "name": "WebP - Optimizar imágenes de productos",
      "description": "Descarga imágenes de productos desde URLs y las convierte a WebP",
      "nodes": [
        {
          "parameters": {
            "httpMethod": "POST",
            "path": "webhook-productos",
            "responseMode": "responseNode",
            "options": {}
          },
          "name": "Webhook - Recibir Productos",
          "type": "n8n-nodes-base.webhook",
          "typeVersion": 1,
          "position": [240, 300]
        },
        {
          "parameters": {
            "functionCode": "const items = $input.all();\nconst output = [];\n\nfor (const item of items) {\n  const productos = item.json.productos || [];\n  \n  for (const producto of productos) {\n    output.push({\n      json: {\n        image_url: producto.imagen_url,\n        sku: producto.sku,\n        nombre: producto.nombre\n      }\n    });\n  }\n}\n\nreturn output;"
          },
          "name": "Extraer URLs de Imágenes",
          "type": "n8n-nodes-base.code",
          "typeVersion": 1,
          "position": [460, 300]
        },
        {
          "parameters": {
            "url": "http://localhost:8080/api.php",
            "method": "POST",
            "jsonParameters": true,
            "bodyParametersJson": "={\n  \"url\": \"{{ $json.image_url }}\",\n  \"quality\": 85,\n  \"output_name\": \"producto_{{ $json.sku }}\",\n  \"max_width\": 1200,\n  \"max_height\": 1200\n}"
          },
          "name": "Convertir a WebP",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 1,
          "position": [680, 300]
        },
        {
          "parameters": {
            "functionCode": "const items = $input.all();\nconst exitosos = [];\nconst fallidos = [];\n\nfor (const item of items) {\n  if (item.json.success) {\n    exitosos.push({\n      sku: item.json.data.filename,\n      url: item.json.data.url,\n      ahorro: item.json.data.savings\n    });\n  } else {\n    fallidos.push(item.json);\n  }\n}\n\nreturn [{\n  json: {\n    total: items.length,\n    exitosos: exitosos.length,\n    fallidos: fallidos.length,\n    resultados: exitosos\n  }\n}];"
          },
          "name": "Procesar Resultados",
          "type": "n8n-nodes-base.code",
          "typeVersion": 1,
          "position": [900, 300]
        },
        {
          "parameters": {
            "respondWith": "={{ $json }}",
            "options": {}
          },
          "name": "Responder Webhook",
          "type": "n8n-nodes-base.respondToWebhook",
          "typeVersion": 1,
          "position": [1120, 300]
        }
      ],
      "connections": {
        "Webhook - Recibir Productos": {
          "main": [
            [
              {
                "node": "Extraer URLs de Imágenes",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Extraer URLs de Imágenes": {
          "main": [
            [
              {
                "node": "Convertir a WebP",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Convertir a WebP": {
          "main": [
            [
              {
                "node": "Procesar Resultados",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Procesar Resultados": {
          "main": [
            [
              {
                "node": "Responder Webhook",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      }
    },
    "workflow_2": {
      "name": "WebP - Procesamiento automático de carpeta",
      "description": "Convierte automáticamente todas las imágenes de la carpeta upload/",
      "nodes": [
        {
          "parameters": {
            "rule": {
              "interval": [
                {
                  "field": "hours",
                  "hoursInterval": 1
                }
              ]
            }
          },
          "name": "Cada hora",
          "type": "n8n-nodes-base.scheduleTrigger",
          "typeVersion": 1,
          "position": [240, 300]
        },
        {
          "parameters": {
            "url": "http://localhost:8080/api.php?action=list&type=source",
            "method": "GET"
          },
          "name": "Listar imágenes pendientes",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 1,
          "position": [460, 300]
        },
        {
          "parameters": {
            "functionCode": "const archivos = $json.files || [];\nconst batch = archivos.map(file => ({\n  filename: file.filename,\n  output_name: file.filename.replace(/\\.[^.]+$/, '')\n}));\n\nreturn [{\n  json: {\n    batch: batch,\n    quality: 85\n  }\n}];"
          },
          "name": "Preparar batch",
          "type": "n8n-nodes-base.code",
          "typeVersion": 1,
          "position": [680, 300]
        },
        {
          "parameters": {
            "url": "http://localhost:8080/api.php",
            "method": "POST",
            "jsonParameters": true,
            "bodyParametersJson": "={{ JSON.stringify($json) }}"
          },
          "name": "Convertir todas",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 1,
          "position": [900, 300]
        }
      ],
      "connections": {
        "Cada hora": {
          "main": [
            [
              {
                "node": "Listar imágenes pendientes",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Listar imágenes pendientes": {
          "main": [
            [
              {
                "node": "Preparar batch",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Preparar batch": {
          "main": [
            [
              {
                "node": "Convertir todas",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      }
    },
    "workflow_3": {
      "name": "WebP - Con almacenamiento en nube",
      "description": "Convierte y sube a Google Drive o AWS S3",
      "nodes": [
        {
          "parameters": {
            "httpMethod": "POST",
            "path": "imagen-optimizar",
            "responseMode": "responseNode"
          },
          "name": "Webhook",
          "type": "n8n-nodes-base.webhook",
          "typeVersion": 1,
          "position": [240, 400]
        },
        {
          "parameters": {
            "url": "http://localhost:8080/api.php",
            "method": "POST",
            "jsonParameters": true,
            "bodyParametersJson": "={\n  \"url\": \"{{ $json.image_url }}\",\n  \"quality\": 90,\n  \"max_width\": 2000\n}"
          },
          "name": "Convertir a WebP",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 1,
          "position": [460, 400]
        },
        {
          "parameters": {
            "url": "={{ $json.data.url }}",
            "method": "GET",
            "options": {
              "response": {
                "response": {
                  "responseFormat": "file"
                }
              }
            }
          },
          "name": "Descargar WebP",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 1,
          "position": [680, 400]
        },
        {
          "parameters": {
            "resource": "file",
            "operation": "upload",
            "folderId": {
              "__rl": true,
              "value": "root",
              "mode": "list"
            },
            "name": "={{ $json.data.filename }}",
            "binaryData": true
          },
          "name": "Subir a Google Drive",
          "type": "n8n-nodes-base.googleDrive",
          "typeVersion": 1,
          "position": [900, 400],
          "credentials": {
            "googleDriveOAuth2Api": {
              "id": "1",
              "name": "Google Drive"
            }
          }
        },
        {
          "parameters": {
            "respondWith": "={{ { success: true, drive_url: $json.webViewLink } }}",
            "options": {}
          },
          "name": "Responder",
          "type": "n8n-nodes-base.respondToWebhook",
          "typeVersion": 1,
          "position": [1120, 400]
        }
      ],
      "connections": {
        "Webhook": {
          "main": [
            [
              {
                "node": "Convertir a WebP",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Convertir a WebP": {
          "main": [
            [
              {
                "node": "Descargar WebP",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Descargar WebP": {
          "main": [
            [
              {
                "node": "Subir a Google Drive",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Subir a Google Drive": {
          "main": [
            [
              {
                "node": "Responder",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      }
    }
  },
  "workflows_detallados": {
    "ecommerce_product_optimizer": {
      "nombre": "Optimizador de Imágenes de Productos E-commerce",
      "descripcion": "Recibe productos con imágenes, las convierte a WebP y actualiza la base de datos",
      "trigger": "Webhook HTTP POST",
      "pasos": [
        "1. Webhook recibe JSON con array de productos",
        "2. Itera sobre cada producto y extrae URL de imagen",
        "3. Envía a WebP Converter API con calidad 85",
        "4. Descarga la imagen WebP resultante",
        "5. Sube a CDN o almacenamiento (S3/Google Cloud)",
        "6. Actualiza base de datos con nueva URL WebP",
        "7. Responde con resultados del proceso"
      ],
      "ejemplo_input": {
        "productos": [
          {
            "id": 123,
            "sku": "PROD-001",
            "nombre": "Producto Demo",
            "imagen_url": "https://ejemplo.com/productos/imagen.jpg"
          }
        ]
      },
      "ejemplo_output": {
        "procesados": 1,
        "exitosos": 1,
        "resultados": [
          {
            "sku": "PROD-001",
            "webp_url": "https://cdn.ejemplo.com/productos/PROD-001.webp",
            "ahorro": "87.5%"
          }
        ]
      }
    },
    "watch_folder_automation": {
      "nombre": "Automatización de Carpeta Observada",
      "descripcion": "Monitorea carpeta upload/ y convierte automáticamente nuevas imágenes",
      "trigger": "Cron (cada 5 minutos)",
      "pasos": [
        "1. Schedule trigger cada 5 minutos",
        "2. GET /api.php?action=list&type=source",
        "3. Filtrar solo imágenes nuevas (comparar con lista anterior)",
        "4. Enviar batch de conversión",
        "5. Notificar por email/Slack resultados",
        "6. Opcional: mover originales a carpeta 'procesados'"
      ]
    },
    "social_media_resize": {
      "nombre": "Redimensionar para Redes Sociales",
      "descripcion": "Convierte y redimensiona imágenes para diferentes redes sociales",
      "trigger": "Webhook",
      "variantes": {
        "instagram_post": {
          "max_width": 1080,
          "max_height": 1080,
          "quality": 90
        },
        "facebook_cover": {
          "max_width": 820,
          "max_height": 312,
          "quality": 85
        },
        "twitter_card": {
          "max_width": 1200,
          "max_height": 628,
          "quality": 85
        }
      }
    }
  },
  "instrucciones_importacion": {
    "paso_1": "Abre N8N en tu navegador",
    "paso_2": "Click en 'Workflows' → 'Import from File'",
    "paso_3": "Selecciona este archivo n8n-examples.json",
    "paso_4": "Los workflows aparecerán en tu lista",
    "paso_5": "Abre un workflow y configura las credenciales necesarias",
    "paso_6": "Activa el workflow y prueba",
    "nota": "Recuerda cambiar localhost:8080 por tu URL real si usas otro servidor"
  },
  "test_rapido": {
    "descripcion": "Test rápido para verificar que todo funciona",
    "comando_curl": "curl -X POST http://localhost:8080/api.php -H 'Content-Type: application/json' -d '{\"url\":\"https://picsum.photos/800/600\",\"quality\":85}'",
    "esperado": "Respuesta JSON con success: true y datos de la imagen convertida"
  }
}

